@section scripts
{
    <script type="text/javascript">
        $("#submitScore").click(function() {
            $.post(
                "/api/scores",
                {
                    PlayerName: $("#scoreName").val(),
                    Moves: $("#scoreMoves").val()
                }).done(function() {
                //alert("Success!");
                });
           location.reload(true);
        });
    </script>
}


<div>
    <h2>Top 5 Scores:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Moves</th>
        </tr>

        @foreach (var item in ViewBag.Scores)
        {
            <tr>
                <td>@item.PlayerName</td>
                <td>@item.Moves</td>
            </tr>
        }
    </table>
</div>
<div id="new-score-div">
    <h3>Add new score:</h3>
    <p>
        <input type="text" id="scoreName" placeholder="Name"/>
    </p>
    <p>
        <input type="number" id="scoreMoves" placeholder="Moves"/>
    </p>
    <p><input type="button" class="btn" id="submitScore" value="Submit high score"/></p>
</div>
